body{
    margin: 0;
    padding: 0;
    background-color: #32261A;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*TOP BAR*/
.box-one{
    font-family: 'Poppins', sans-serif;
    width: 1200px;
    height: 93px;
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 180px;
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;
}
.logo-circle{
    position: absolute;
    width: 65px;
    height: 65px;
    color: #F9B985;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #32261A;
    border: 4px solid;
    border-color: #F9B985;
    border-radius: 50%;
}
.logo-circle h4{
    margin: 0px;
}
.logo .text{
    margin-left: 80px;
    color: white;
    font-size: 25px;
}
.box-one ul{
    display: flex;
    padding: 0px;
}
.box-one ul li{
    list-style-type: none;
    text-align: center;
    align-items:center;
    margin-left: 32px;
    margin-right: 32px;
    font-size: 20px;
}
.box-one ul li a{
    text-decoration: none;
    text-transform: none;
    color: white;
}
.box-one button{
    font-size: 23px;
    width: 180px;
    height: 68px;
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 1px;
    border-radius: 16px;
    background-color: #32261A;
    border-color: #F9B985;
    color: #F9B985;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-one button i{
    width: 45px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-right: 15px;
    border: 1px solid;
    border-color: #F9B985;
    border-radius: 16px;
}

/*IMAGE SLIDE*/
.box-two{
    width: 1200px;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-flow: row;
}
.box-dashboard{
    width: 600px;
    height: 460px;
}
.box-dashboard img{
    width: 600px;
    height: 460px;
}

.box-three{
    width: 1200px;
    padding-top: 67px;
    padding-bottom: 67px;
}
.box-four{
    width: 1200px;
    padding-top: 102px;
    padding-bottom: 102px;
}
